.link {
  text-decoration: none;
  color: var(--color-blue-sky-400);
}

.link:hover,
.link:focus,
.link:active {
  text-decoration: underline;
  color: var(--color-blue-sky-500);
}

.linkUnstyled {
  text-decoration: none;
  color: inherit;
}
